{# templates/lucky/number.html.twig #}

{# Associe le logo avec la route ayant le nom 'welcome' #}
<a href="{{ path('welcome') }}"><img src="{{ asset('images/logo.png') }}" width="150" height="100" alt="logo"/></a> 

<body>
<h1>Bienvenue sur le site de l'étude Majik</h1>
</body>